<div class="row">
    <div class="col-sm-12 py-4">
<% if(@post.comments.length) %>
<h3>Comments</h3>
<% end %>
<ul>
<% @post.comments.each do |elem| %>
    <li>
    <strong> <%= elem.username %></strong> : <%= elem.body %>
    
    <%= link_to "[X]", [comment.post,comment],
    method: :delete, 
    data:{confirm: 'Are you sure ?'}, %>
    </li>
<% end %>
</ul>
</div>
</div>